<div class="jumbotron main">
  <div class="container">
    <h1>Tech Career Days Resume Submission</h1>
		<p>Submit your resume.pdf, get advices from TCD volunteers, and get contacted by employers before the event.</p>
     <p>
       <%= link_to "Sign in with Google", student_google_oauth2_omniauth_authorize_path, class: 'btn btn-danger btn-lg' %>
     </p>
    <small>Use your university Google account to verify your identity. For MMU students, the password is same as MMLS.</small>  
    <br>
		<small>List of supported universitites:</small>
		<small><ul>
			<li>MMU (@student.mmu.edu.my)</li>
			<li>TARC (@student.tarc.edu.my)</li>
      <li>APU (@mail.apu.edu.my)</li>
      <li>KDU (@kdu-online.com)</li>
		</ul></small>
    </div>
</div>
<%= render "trends" %>
<%= render "resume_checklist" %>
<%= render "resource_links" %>
<%= render "footer" %>
