<h1>Upload resume</h1>

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <ul>
      <% if flash[:errors]['file_content_type'] %>
        <li><b>Whoa!</b> Make sure your resume is in PDF format.</li>
      <% end %>
      <% if flash[:errors]['file_file_size'] %>
        <li><b>Damn!</b> Your resume PDF needs to be less than 1MB in size.</li>
      <% end %>
      <% if flash[:errors]['file_one_page'] %>
        <li><b>Too long!</b> Your resume can only have 1 page.</li>
      <% end %>
      <% if Rails.env.development? %>
        <li><%= flash[:errors] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for @resume, url: resume_path, html: { multipart: true } do |form| %>
          <div class="form-group">
            <label>Nationality</label>
            <%= 
              collection_radio_buttons(:resume, :nationality, Resume.nationalities, :first, :first) do |b|
                content_tag(:div, class: :radio) do
                  b.label { b.radio_button(required: 'required') + b.text.humanize }
                end
              end 
            %>
          </div>

          <div class="form-group">
            <label>Looking For</label>
            <%= 
              collection_radio_buttons(:resume, :job_type, Resume.job_types, :first, :first) do |b|
                content_tag(:div, class: :radio) do
                  b.label { b.radio_button(required: 'required') + b.text.humanize }
                end
              end 
            %>
          </div>

          

          <div class="form-group">
            <label>Resume in .pdf format &lt;1MB size</label>
            <%= form.file_field :file, required: 'required', accept: 'application/pdf' %>
          </div>

          <button class="btn btn-default">Upload</button>
        <% end %>
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-12 col-lg-6">
    <div class="alert alert-danger">
      <h4><span class="glyphicon glyphicon-exclamation-sign"></span> Do Not Put</h4>
      <ul>
        <li>Photo</li>
        <li>Home address</li>
        <li>Gender, religion, marital status, ethnicity, NRIC/passport number, age</li>
        <li>Education history before diploma/degree</li>
        <li>Irrelevant past job experiences</li>
        <li>IDEs, text editors, and Microsoft Office as skill sets</li>
        <li>Programming languages you cannot code in</li>
        <li>Personal interests and hobbies</li>
        <li>Boilerplate summary and objectives</li>
        <li>Expected salary</li>
      </ul>
      <hr>
      <p>
        Read more on <a href="/" target="_blank">homepage</a> before you upload.
      </p>
    </div>
    <div class="alert alert-info">
      <h4><span class="glyphicon glyphicon-heart"></span> Not getting full-time jobs and internship?</h4>
      <p>For students that are not looking for full-time and internship positions, you may pick the freelance option. You can upload portfolio in lieu of resume and will not be subjected to the rules we stipulated.</p>
    </div>
  </div>
</div>
