<div class="page-header">
  <h2>Prepare For IT Career Week</h2>
</div>

<div class="row">
  <% if @resume.nil? %>
    <%= render 'not_submitted_yet' %>
  <% else %>
    <%= render 'uploaded' %>
  <% end %>

  <%= render 'contact_details_form' %>
  <%= render 'register' %>
</div>
<script type="text/javascript">
  var easter_egg_message = "Companies that have starred you: <%= @starred_companies.to_sentence %>";
  console.log(easter_egg_message);
</script>
