<div class="alert alert-danger">
  For now, don't bother vetting resumes. If you see OK one, approve. If you suspect serious inflation or fraud, leave it there.
</div>
<div class="page-header">
  <h2>Pending Resumes: <%= @pending_resumes.count %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-2">Type</th>
      <th class="col-xs-1">Revision</th>
      <th class="col-xs-2"></th>
      <th class="col-xs-2"></th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @pending_resumes.each do |resume| %>
      <tr>
        <td>
          <%= link_to "#{resume.student.name}", resume.file.url, target: '_blank' %>
        </td>
        <td><%= resume.job_type %></td>
        <td><%= resume.reuploads %>
        </td>
        <td><%= link_to "Approve", approve_vetters_resume_path(resume), method: :patch %>
        </td>
        <td><%= link_to "Reject", edit_vetters_resume_path(resume) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h2>Approved Resumes: <%= @approved_resumes.count %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-2">Type</th>
      <th class="col-xs-1">Revision</th>
      <th class="col-xs-2">Approved Since</th>
      <th class="col-xs-2"></th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @approved_resumes.each do |resume| %>
      <tr>
        <td>
          <%= link_to "#{resume.student.name}", resume.file.url, target: '_blank' %>
        </td>
        <td><%= resume.job_type %></td>
        <td><%= resume.reuploads %></td>
        <td><%= time_ago_in_words resume.updated_at %></td>
        <td>
          <%= link_to "Reject", edit_vetters_resume_path(resume) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<div class="page-header">
  <h2>Rejected Resumes: <%= @rejected_resumes.count %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-2">Type</th>
      <th class="col-xs-1">Revision</th>
      <th class="col-xs-2">Rejected Since</th>
      <th class="col-xs-2"></th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @rejected_resumes.each do |resume| %>
      <tr>
        <td>
          <%= link_to "#{resume.student.name}", resume.file.url, target: '_blank' %>
        </td>
        <td><%= resume.job_type %></td>
        <td><%= resume.reuploads %></td>
        <td><%= time_ago_in_words resume.updated_at %></td>
        <td>
          <%= link_to "Approve", approve_vetters_resume_path(resume), method: :patch %>
        </td>
        <td>
          <%= link_to "Edit", edit_vetters_resume_path(resume) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
</table>

