<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ITCW Resume</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(vetters_resumes_path) %>">
          <%= link_to "Resumes (#{ Resume.latest_submissions.pending.count })", vetters_resumes_path %>
        </li>
        <li class="<%= 'active' if current_page?(vetters_companies_path) %>">
          <%= link_to "Companies & Recruiters", vetters_companies_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Logout", destroy_vetter_session_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
