<!DOCTYPE html>
<html ng-app="employers">
  <head>
    <title><%= @title || "ITCW Employers Dashboard" %></title>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'employers' %>
  </head>

  <body>
    <%= render 'layouts/employer_navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <toaster-container></toaster-container>
    <%= render 'layouts/other_scripts' %>
  </body>
</html>
