<!DOCTYPE html>
<html>
  <head>
    <title>Submit Your Resume Now - IT Job Expo MMU Cyberjaya</title>
    <meta property="og:title" content="Submit Your Resume For IT Job Expo MMU Cyberjaya" />
    <meta property="og:description" content="Upload your resume.pdf and get contacted by the exhibiting employers prior to the event. IT Job Expo will happen in MPH on 17-18 January 2019. Click to learn more.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://resumetcd.herokuapp.com/" />
    <meta property="og:image" content="https://resumetcd.herokuapp.com/opengraph-v2.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/other_scripts' %>
  </body>
</html>
