<!DOCTYPE html>
<html>
  <head>
    <title>ITCW Employers Dashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/vetter_navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/other_scripts' %>
  </body>
</html>
